@import 'utils';

#viewport {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

#wall div{
	@extend %grayscale;
}

#wall div:hover {
	@extend %grayscale_disabled;
	@include transition();
}
 